/* HEADER STYLING */
#OR2STEM-HEADER{
    font-weight: bold;
    padding-left: 20px;
}
#OR2STEM-HEADER-A {
    color: navy;
    text-decoration: none;
    transition-duration: 0.5s;
}
#OR2STEM-HEADER-A:hover {
    color: red;
}
#userProfile{
    float: right;
    margin-right: 15px;
}
#userButton{
    width: auto;
    height: 30px;
    font-size: 14px;
    font-weight: 600;
    color: white;
    background-color: navy;
    cursor: pointer;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    margin-left: 3px;
    color: white;
    background-color: navy;
    width: 85px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 2;
}
.dropdown-content a {
    color: white;
    display: block;
    text-decoration: none;
    padding: 5px;
    text-align: center;
}
.dropdown a:hover{
    background-color: red;
}
.show {display: block;}



/* STUDENT SELECTION STYLING */
#student_error_p{
    color: red;
}
#formDiv{
    margin: auto;
    width: 50%;
    text-align: center;
}



/* CH, SEC, LO SELECTION STYLING */
#chSecLoHeader{
    text-align: center;
}
#content_selection_div_2{
    width: 90%;
    margin: 0 auto;
}
#ch_sec_lo_sel_div{
    display: inline-block;
    width: auto;
    vertical-align: middle;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}
#selection_table{
    margin: 0 auto;
    text-align: center;
}
#ch_sec_lo_sel_button_div{
    display: inline-block;
    width: auto;
    vertical-align: middle;
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}
#chSecLoButton{
    width: 100px;
    height: 40px;
}



/* BLUE LONG BUTTON HEADER STYLING */
.blue_long_btn{
    width: 80%;
    height: 50px;
    margin: 0 auto;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: navy;
    transition-duration: 0.5s;
}
.blue_long_btn:hover{
    background-color: red;
}
.blue_long_content{
    font-size: 18px;
    font-weight: 800;
    color: white;
    padding-left: 50px;
}
.blue_long_arrow{
    font-size: 18px;
    font-weight: 800;
    color: white;
    padding-right: 25px;
}



/* BUTTONS / INPUT[TYPE="SUBMIT"] STYLING */
button, #userButton {
    transition-duration: 0.5s;
}
button:hover, #userButton:hover{
    background-color: red;
}
input[type="button"], input[type="submit"]{
    transition-duration: 0.5s;
}
input[type="button"]:hover, input[type="submit"]:hover { 
    background-color: red;
}



/* LO SELECTION INFO HEADER UNIQUE STYLING */
#selectionInfoHeader{
    width: 90%;
    height: 50px;
    margin: 0 auto;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: navy;
    transition-duration: 0.5s;
}
#selectionInfoHeader:hover{
  background-color: red;
}
/* SELECTION RESULTS TABLE STYLING */
#selection_results_table{
    width: 80%;
    margin: 0 auto;
}
#selection_results_table th{
    text-align: center;
    font-size: 16px;
    border: none;
    width: 20%;
    height: auto;
}
#selection_results_table td{
    text-align: center;
    font-size: 15px;
    border: none;
    width: 20%;
    height: auto;
}



/* CH, SEC, LO TABLE PROGRESS STYLING */
.content_progress{
    border-collapse: collapse;
    width: 80%;
    margin: 0 auto;
}
.content_progress td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}
.content_progress th{
    text-align: center;
}
.content_progress td p {
    text-align: center;
}



/* MAIN QUESTION DISPLAY STYLING */
#questionMain{
    margin: 0 auto;
    display: flex;
    text-align: center;
}
#leftButtonsDiv{
    width: 400px;
    display: flex;
    flex-direction: column;
}
#questionDisplay{
    display: flex;
    flex-direction: column;
    width: 50%;
}
#rightButtonsDiv{
    width: 400px;
    display: flex;
    flex-direction: column;
}
#goFirstButton, #previousButton{
    width: 220px;
    height: 40px;
    margin-left: auto;
    margin-right: 25px;
}
 #goLastButton, #nextButton {
    width: 220px;
    height: 40px;
    margin-right: auto;
    margin-left: 25px;
}
#mainImg {
    width: 300px;
    height: 300px;
    object-fit: contain;
}
#optionsForm {
    text-align: center;
    margin: auto;
}
/* properly aligning answer options labels */
#label0, #label1, #label2, #label3, #label4, #label5, #label6, #label7, #label8 {
    display: inline-block;
    width: 250px;
    text-align: center;
    padding: 5px;
    margin: 5px;
    white-space: nowrap;
    margin-left: auto;
    margin-right: auto;
}
#resultsTable {
    border-collapse: collapse;
    width: 80%;
    margin: 0 auto;
}
#resultsTable th {
    text-align: center;
    padding: 8px;
    border: 1px solid #dddddd;
    width: 13.33%;
    height: auto;
}
#resultsTable td {
    text-align: center;
    padding: 8px;
    border: 1px solid #dddddd;
    width: 13.33%;
    height: auto;
}
